table.pages {
    width: 100%;
}
td.size, th.size {
    text-align: right;
    padding-right: 20px;
}
td.time, th.time {
    text-align: right;
    padding-right: 20px;
}
td.time {
    font-style: italic;
    font-size: smaller;
}
