.postit {
    height: 50px;
    width: 50px;
    margin: 5px;
    border: solid black 1px;
    float: left;
    font-weight: bold;
    text-align: center;
    color: black;
    font-size: 50%;
    overflow: hidden;
}

.orange {
    background-color: orange;
}
.blue {
    background-color: lightblue;
}
.green {
    background-color: lightgreen;
}
.pink {
    background-color: pink;
}
.yellow {
    background-color: yellow;
}
.purple {
    background-color: #F0F;
}
