h1.story-title {
    text-align: center;
    color: blue;
}

.content li p {
    margin: 0;
}

/* Tag List */
ul.tag-list {
    display: inline;
}

ul.tag-list li {
    list-style: none;
    display: inline;
}

ul.tag-list li:before {
    content: "\00BB\0020";
}

/* URL List */
ul.url-list {
    margin: 0;
}

/* Story Navigation */
ul.story-nav {
    display: inline;
    margin: 0;
    padding: 0;
}

ul.story-nav li {
    list-style: none;
    display: inline;
    margin-right: 10px;
    padding:0 10px;
    color: white;
    background-color: brown;
}
ul.story-nav a, ul.story-nav a:visited {
    color: white;
}

