h1.page-title {
    text-align: center;
}

hr.page-title {
    width: 75%;
    text-align: center;
}

.content li p {
    margin: 0;
}

.tag-list {
    display: inline;
}

.tag-list li {
    /*list-style: none;*/
    display: inline;
}
