<title>[% html_title %]</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="shortcut icon" type="image/x-icon" href="/static/image/favicon.ico">
<link rel="stylesheet" href="/static/css/[% all_css_file %]" type="text/css">
<script type="text/javascript" src="/static/js/[% all_js_file %]"></script>

