<div class="site-navigation">
[% INCLUDE nav_list nav=site_navigation %]
</div>

[% BLOCK nav_list %]
<ul>
[% FOR elem = nav %]

[% SET label = elem.0 %]
[% SET url = elem.1 %]
[% SET sublist = elem.2 %]

  <li><a href="[% base_url %][% url %]" class="[% label | lower %]">[% label %]</a>

[% IF sublist %]
[% INCLUDE nav_list nav=sublist %]
[% END %]

  </li>
[% END %]
 </ul>
[% END %]
